

.header-color{
    background-color: rgb(197, 27, 27);

}
.left-color{
    background-color: rgb(116, 13, 56);
    color:white;
}
.center-color{
    background-color: rgb(63, 0, 16);
    
}
.right-color{
    background-color: rgb(141, 35, 49);
}
.footer-color{
    background-color: rgb(54, 5, 5);
    color: rgb(255, 255, 255);
}

.card-color{
    color: rgb(255, 255, 255);
}
.card-color >h5{
    color: rgb(255, 255, 255);
}

.img-size{
    height: 25px;
    width: 25px;
}

